body {
    background-color: rgb(224, 224, 224);
}

.main {
    display: grid;
    grid-template-columns: 20fr 80fr; 
    background-color: rgb(232, 232, 232);
}

.menu {
    height: fit-content;
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    background-color: rgb(165, 250, 246);
}

.menu-button {
    padding: 10px;
    margin: 5px;
    margin-left: 0px;
    border: 1px solid black;
}

.container {
    width: auto;
    height: auto;
    padding: 10px
}

.main-line {
    display: grid;
    grid-template-columns: 10fr 90fr;
    width: auto;
    height: 45px;
    background-color: rgb(177, 177, 177);
    border:  1.5px solid black;
    text-align: center;
}

.line-button  {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    height: 10px;
    width: 80px;
}

.last-line {
    background-color: rgb(190, 190, 190);
    width: auto;
    height: 50px;
    margin-top: 20px;
}
