body {
    background-color: aqua;
}

.main {
    display: grid;
    grid-template-columns: 20fr 80fr; 
}

.menu {
    height: fit-content;
    padding: 10px;
}

.menu-box {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

.container {
    width: auto;
    height: 600px;
    padding: 10px
}
